<% if (messages) { %>
  <ul class="error-messages">
    <% for (var message of messages) { %>
    <li class="error-messages-items"><%- message %></li>
    <% } %>
  </ul>
<% } %>
<form class="post-form" action="<%- actionPath %>" method="<%- formMethod %>">
  <div class="form-field-post">
    <div class="input-heading"><label for="title">Post Title</label></div>
    <div><input id="title" type="text" name="title"></div>
  </div>
  <div class="form-field-post">
    <div class="input-heading"><label for="content">Post Content</label></div>
    <div><textarea name="content" id="content" rows="10"></textarea></div>
  </div>
  <input type="hidden" name="userid" value="<%- userData.id %>">
  <div class="form-field button-center">
    <button class="button button-primary" type="submit"><%- btnText %></button>
    </div>
</form>
